.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 960px;
  *zoom: 1;
}
.container:after,
.container:before {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.container:after,
.container:before {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
[class*=" grid_"],
[class^="grid_"],
[class*="-grid_"] {
  display: inline;
  float: left;
  position: relative;
  width: 98%;
  margin-left: 1% !important;
  margin-right: 1% !important;
}
@media only screen and (min-width: 801px) {
  .grid_1 {
    width: 6.333%;
  }
  .grid_1.alpha,
  .grid_1.omega {
    width: 7.333%;
  }
  .grid_1.alpha.omega {
    width: 8.333%;
  }
  .grid_2 {
    width: 14.667%;
  }
  .grid_2.alpha,
  .grid_2.omega {
    width: 15.667%;
  }
  .grid_2.alpha.omega {
    width: 16.667%;
  }
  .grid_3 {
    width: 23%;
  }
  .grid_3.alpha,
  .grid_3.omega {
    width: 24%;
  }
  .grid_3.alpha.omega {
    width: 25%;
  }
  .grid_4 {
    width: 31.333%;
  }
  .grid_4.alpha,
  .grid_4.omega {
    width: 32.333%;
  }
  .grid_4.alpha.omega {
    width: 33.333%;
  }
  .grid_5 {
    width: 39.667%;
  }
  .grid_5.alpha,
  .grid_5.omega {
    width: 40.667%;
  }
  .grid_5.alpha.omega {
    width: 41.667%;
  }
  .grid_6 {
    width: 48%;
  }
  .grid_6.alpha,
  .grid_6.omega {
    width: 49%;
  }
  .grid_6.alpha.omega {
    width: 50%;
  }
  .grid_7 {
    width: 56.333%;
  }
  .grid_7.alpha,
  .grid_7.omega {
    width: 57.333%;
  }
  .grid_7.alpha.omega {
    width: 58.333%;
  }
  .grid_8 {
    width: 64.667%;
  }
  .grid_8.alpha,
  .grid_8.omega {
    width: 65.667%;
  }
  .grid_8.alpha.omega {
    width: 66.667%;
  }
  .grid_9 {
    width: 73%;
  }
  .grid_9.alpha,
  .grid_9.omega {
    width: 74%;
  }
  .grid_9.alpha.omega {
    width: 75%;
  }
  .grid_10 {
    width: 81.333%;
  }
  .grid_10.alpha,
  .grid_10.omega {
    width: 82.333%;
  }
  .grid_10.alpha.omega {
    width: 83.333%;
  }
  .grid_11 {
    width: 89.667%;
  }
  .grid_11.alpha,
  .grid_11.omega {
    width: 90.667%;
  }
  .grid_11.alpha.omega {
    width: 91.667%;
  }
  .grid_12 {
    width: 98%;
  }
  .grid_12.alpha,
  .grid_12.omega {
    width: 99%;
  }
  .grid_12.alpha.omega {
    width: 100%;
  }
  .alpha {
    margin-left: 0 !important;
  }
  .omega {
    margin-right: 0 !important;
  }
  .prefix_1 {
    margin-left: 9.33% !important;
  }
  .prefix_1.alpha {
    margin-left: 8.33% !important;
  }
  .prefix_2 {
    margin-left: 17.67% !important;
  }
  .prefix_2.alpha {
    margin-left: 16.67% !important;
  }
  .prefix_3 {
    margin-left: 26% !important;
  }
  .prefix_3.alpha {
    margin-left: 25% !important;
  }
  .prefix_4 {
    margin-left: 34.33% !important;
  }
  .prefix_4.alpha {
    margin-left: 33.33% !important;
  }
  .prefix_5 {
    margin-left: 42.67% !important;
  }
  .prefix_5.alpha {
    margin-left: 41.67% !important;
  }
  .prefix_6 {
    margin-left: 51% !important;
  }
  .prefix_6.alpha {
    margin-left: 50% !important;
  }
  .prefix_7 {
    margin-left: 59.33% !important;
  }
  .prefix_7.alpha {
    margin-left: 58.33% !important;
  }
  .prefix_8 {
    margin-left: 67.67% !important;
  }
  .prefix_8.alpha {
    margin-left: 66.67% !important;
  }
  .prefix_9 {
    margin-left: 76% !important;
  }
  .prefix_9.alpha {
    margin-left: 75% !important;
  }
  .prefix_10 {
    margin-left: 84.33% !important;
  }
  .prefix_10.alpha {
    margin-left: 83.33% !important;
  }
  .prefix_11 {
    margin-left: 92.67% !important;
  }
  .prefix_11.alpha {
    margin-left: 91.67% !important;
  }
  .suffix_1 {
    margin-right: 9.33% !important;
  }
  .suffix_1.omega {
    margin-right: 8.33% !important;
  }
  .suffix_2 {
    margin-right: 17.67% !important;
  }
  .suffix_2.omega {
    margin-right: 16.67% !important;
  }
  .suffix_3 {
    margin-right: 26% !important;
  }
  .suffix_3.omega {
    margin-right: 25% !important;
  }
  .suffix_4 {
    margin-right: 34.33% !important;
  }
  .suffix_4.omega {
    margin-right: 33.33% !important;
  }
  .suffix_5 {
    margin-right: 42.67% !important;
  }
  .suffix_5.omega {
    margin-right: 41.67% !important;
  }
  .suffix_6 {
    margin-right: 51% !important;
  }
  .suffix_6.omega {
    margin-right: 50% !important;
  }
  .suffix_7 {
    margin-right: 59.33% !important;
  }
  .suffix_7.omega {
    margin-right: 58.33% !important;
  }
  .suffix_8 {
    margin-right: 67.67% !important;
  }
  .suffix_8.omega {
    margin-right: 66.67% !important;
  }
  .suffix_9 {
    margin-right: 76% !important;
  }
  .suffix_9.omega {
    margin-right: 75% !important;
  }
  .suffix_10 {
    margin-right: 84.33% !important;
  }
  .suffix_10.omega {
    margin-right: 83.33% !important;
  }
  .suffix_11 {
    margin-right: 92.67% !important;
  }
  .suffix_11.omega {
    margin-right: 91.67% !important;
  }
  .push_1 {
    left: 8.33% !important;
  }
  .push_2 {
    left: 16.67% !important;
  }
  .push_3 {
    left: 25% !important;
  }
  .push_4 {
    left: 33.33% !important;
  }
  .push_5 {
    left: 41.67% !important;
  }
  .push_6 {
    left: 50% !important;
  }
  .push_7 {
    left: 58.33% !important;
  }
  .push_8 {
    left: 66.67% !important;
  }
  .push_9 {
    left: 75% !important;
  }
  .push_10 {
    left: 83.33% !important;
  }
  .push_11 {
    left: 91.67% !important;
  }
  .pull_1 {
    left: -8.33% !important;
  }
  .pull_2 {
    left: -16.67% !important;
  }
  .pull_3 {
    left: -25% !important;
  }
  .pull_4 {
    left: -33.33% !important;
  }
  .pull_5 {
    left: -41.67% !important;
  }
  .pull_6 {
    left: -50% !important;
  }
  .pull_7 {
    left: -58.33% !important;
  }
  .pull_8 {
    left: -66.67% !important;
  }
  .pull_9 {
    left: -75% !important;
  }
  .pull_10 {
    left: -83.33% !important;
  }
  .pull_11 {
    left: -91.67% !important;
  }
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .t-grid_1 {
    width: 14.667%;
  }
  .t-grid_1.t-alpha,
  .t-grid_1.t-omega {
    width: 15.667%;
  }
  .t-grid_1.t-alpha.t-omega {
    width: 16.667%;
  }
  .t-grid_2 {
    width: 31.333%;
  }
  .t-grid_2.t-alpha,
  .t-grid_2.t-omega {
    width: 32.333%;
  }
  .t-grid_2.t-alpha.t-omega {
    width: 33.333%;
  }
  .t-grid_3 {
    width: 48%;
  }
  .t-grid_3.t-alpha,
  .t-grid_3.t-omega {
    width: 49%;
  }
  .t-grid_3.t-alpha.t-omega {
    width: 50%;
  }
  .t-grid_4 {
    width: 64.667%;
  }
  .t-grid_4.t-alpha,
  .t-grid_4.t-omega {
    width: 65.667%;
  }
  .t-grid_4.t-alpha.t-omega {
    width: 66.667%;
  }
  .t-grid_5 {
    width: 81.333%;
  }
  .t-grid_5.t-alpha,
  .t-grid_5.t-omega {
    width: 82.333%;
  }
  .t-grid_5.t-alpha.t-omega {
    width: 83.333%;
  }
  .t-grid_6 {
    width: 98%;
  }
  .t-grid_6.t-alpha,
  .t-grid_6.t-omega {
    width: 99%;
  }
  .t-grid_6.t-alpha.t-omega {
    width: 100%;
  }
  .t-alpha {
    margin-left: 0 !important;
  }
  .t-omega {
    margin-right: 0 !important;
  }
  .t-prefix_1 {
    margin-left: 17.67% !important;
  }
  .t-prefix_1.alpha {
    margin-left: 16.67% !important;
  }
  .t-prefix_2 {
    margin-left: 34.33% !important;
  }
  .t-prefix_2.alpha {
    margin-left: 33.33% !important;
  }
  .t-prefix_3 {
    margin-left: 51% !important;
  }
  .t-prefix_3.alpha {
    margin-left: 50% !important;
  }
  .t-prefix_4 {
    margin-left: 67.67% !important;
  }
  .t-prefix_4.alpha {
    margin-left: 66.67% !important;
  }
  .t-prefix_5 {
    margin-left: 84.33% !important;
  }
  .t-prefix_5.alpha {
    margin-left: 83.33% !important;
  }
  .t-suffix_1 {
    margin-right: 17.67% !important;
  }
  .t-suffix_1.omega {
    margin-right: 16.67% !important;
  }
  .t-suffix_2 {
    margin-right: 34.33% !important;
  }
  .t-suffix_2.omega {
    margin-right: 33.33% !important;
  }
  .t-suffix_3 {
    margin-right: 51% !important;
  }
  .t-suffix_3.omega {
    margin-right: 50% !important;
  }
  .t-suffix_4 {
    margin-right: 67.67% !important;
  }
  .t-suffix_4.omega {
    margin-right: 66.67% !important;
  }
  .t-suffix_5 {
    margin-right: 84.33% !important;
  }
  .t-suffix_5.omega {
    margin-right: 83.33% !important;
  }
  .t-push_1 {
    left: 16.67% !important;
  }
  .t-push_2 {
    left: 33.33% !important;
  }
  .t-push_3 {
    left: 50% !important;
  }
  .t-push_4 {
    left: 66.67% !important;
  }
  .t-push_5 {
    left: 83.33% !important;
  }
  .t-pull_1 {
    left: -16.67% !important;
  }
  .t-pull_2 {
    left: -33.33% !important;
  }
  .t-pull_3 {
    left: -50% !important;
  }
  .t-pull_4 {
    left: -66.67% !important;
  }
  .t-pull_5 {
    left: -83.33% !important;
  }
}
@media only screen and (max-width: 480px) {
  .m-grid_1 {
    width: 23%;
  }
  .m-grid_1.m-alpha,
  .m-grid_1.m-omega {
    width: 24%;
  }
  .m-grid_1.m-alpha.m-omega {
    width: 25%;
  }
  .m-grid_2 {
    width: 48%;
  }
  .m-grid_2.m-alpha,
  .m-grid_2.m-omega {
    width: 49%;
  }
  .m-grid_2.m-alpha.m-omega {
    width: 50%;
  }
  .m-grid_3 {
    width: 73%;
  }
  .m-grid_3.m-alpha,
  .m-grid_3.m-omega {
    width: 74%;
  }
  .m-grid_3.m-alpha.m-omega {
    width: 75%;
  }
  .m-grid_4 {
    width: 98%;
  }
  .m-grid_4.m-alpha,
  .m-grid_4.m-omega {
    width: 99%;
  }
  .m-grid_4.m-alpha.m-omega {
    width: 100%;
  }
  .m-alpha {
    margin-left: 0 !important;
  }
  .m-omega {
    margin-right: 0 !important;
  }
  .m-prefix_1 {
    margin-left: 26% !important;
  }
  .m-prefix_1.alpha {
    margin-left: 25% !important;
  }
  .m-prefix_2 {
    margin-left: 51% !important;
  }
  .m-prefix_2.alpha {
    margin-left: 50% !important;
  }
  .m-prefix_3 {
    margin-left: 76% !important;
  }
  .m-prefix_3.alpha {
    margin-left: 75% !important;
  }
  .m-suffix_1 {
    margin-right: 26% !important;
  }
  .m-suffix_1.omega {
    margin-right: 25% !important;
  }
  .m-suffix_2 {
    margin-right: 51% !important;
  }
  .m-suffix_2.omega {
    margin-right: 50% !important;
  }
  .m-suffix_3 {
    margin-right: 76% !important;
  }
  .m-suffix_3.omega {
    margin-right: 75% !important;
  }
  .m-push_1 {
    left: 25% !important;
  }
  .m-push_2 {
    left: 50% !important;
  }
  .m-push_3 {
    left: 75% !important;
  }
  .m-pull_1 {
    left: -25% !important;
  }
  .m-pull_2 {
    left: -50% !important;
  }
  .m-pull_3 {
    left: -75% !important;
  }
}
[class*=" column_"],
[class^="column_"],
[class*="-column_"] {
  display: table;
  width: 100%;
}
[class*=" column_"] > *:not(.column-none),
[class^="column_"] > *:not(.column-none),
[class*="-column_"] > *:not(.column-none) {
  float: none !important;
  display: inline-block;
  vertical-align: top;
  width: 98%;
  margin-left: 1% !important;
  margin-right: 1% !important;
  margin-bottom: 1%;
}
[class*=" column_"].bottom > *,
[class^="column_"].bottom > *,
[class*="-column_"].bottom > * {
  vertical-align: bottom;
}
[class*=" column_"].middle > *,
[class^="column_"].middle > *,
[class*="-column_"].middle > * {
  vertical-align: middle;
}
[class*=" column_"].full-width > *:not(.column-none),
[class^="column_"].full-width > *:not(.column-none),
[class*="-column_"].full-width > *:not(.column-none) {
  margin-left: 2% !important;
  margin-right: 0 !important;
}
[class*=" column_"].margin-none > *,
[class^="column_"].margin-none > *,
[class*="-column_"].margin-none > * {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
[class*=" column_"] > br,
[class^="column_"] > br,
[class*="-column_"] > br {
  display: none;
}
@media only screen and (min-width: 801px) {
  .column_1 > *:not(.column-none) {
    width: 98%;
  }
  .column_2 > *:not(.column-none) {
    width: 48%;
  }
  .column_3 > *:not(.column-none) {
    width: 31.333%;
  }
  .column_4 > *:not(.column-none) {
    width: 23%;
  }
  .column_5 > *:not(.column-none) {
    width: 18%;
  }
  .column_6 > *:not(.column-none) {
    width: 14.667%;
  }
  .column_7 > *:not(.column-none) {
    width: 12.286%;
  }
  .column_8 > *:not(.column-none) {
    width: 10.5%;
  }
  .column_9 > *:not(.column-none) {
    width: 9.111%;
  }
  .column_10 > *:not(.column-none) {
    width: 8%;
  }
  .column_11 > *:not(.column-none) {
    width: 7.091%;
  }
  .column_12 > *:not(.column-none) {
    width: 6.333%;
  }
  .full-width.column_1 > *:not(.column-none) {
    width: 100%;
  }
  .full-width.column_1 > *:not(.column-none):nth-child(1n + 1) {
    margin-left: 0 !important;
  }
  .full-width.column_2 > *:not(.column-none) {
    width: 49%;
  }
  .full-width.column_2 > *:not(.column-none):nth-child(2n + 1) {
    margin-left: 0 !important;
  }
  .full-width.column_3 > *:not(.column-none) {
    width: 32%;
  }
  .full-width.column_3 > *:not(.column-none):nth-child(3n + 1) {
    margin-left: 0 !important;
  }
  .full-width.column_4 > *:not(.column-none) {
    width: 23.5%;
  }
  .full-width.column_4 > *:not(.column-none):nth-child(4n + 1) {
    margin-left: 0 !important;
  }
  .full-width.column_5 > *:not(.column-none) {
    width: 18.4%;
  }
  .full-width.column_5 > *:not(.column-none):nth-child(5n + 1) {
    margin-left: 0 !important;
  }
  .full-width.column_6 > *:not(.column-none) {
    width: 15%;
  }
  .full-width.column_6 > *:not(.column-none):nth-child(6n + 1) {
    margin-left: 0 !important;
  }
  .full-width.column_7 > *:not(.column-none) {
    width: 12.571%;
  }
  .full-width.column_7 > *:not(.column-none):nth-child(7n + 1) {
    margin-left: 0 !important;
  }
  .full-width.column_8 > *:not(.column-none) {
    width: 10.75%;
  }
  .full-width.column_8 > *:not(.column-none):nth-child(8n + 1) {
    margin-left: 0 !important;
  }
  .full-width.column_9 > *:not(.column-none) {
    width: 9.333%;
  }
  .full-width.column_9 > *:not(.column-none):nth-child(9n + 1) {
    margin-left: 0 !important;
  }
  .full-width.column_10 > *:not(.column-none) {
    width: 8.2%;
  }
  .full-width.column_10 > *:not(.column-none):nth-child(10n + 1) {
    margin-left: 0 !important;
  }
  .full-width.column_11 > *:not(.column-none) {
    width: 7.273%;
  }
  .full-width.column_11 > *:not(.column-none):nth-child(11n + 1) {
    margin-left: 0 !important;
  }
  .full-width.column_12 > *:not(.column-none) {
    width: 6.5%;
  }
  .full-width.column_12 > *:not(.column-none):nth-child(12n + 1) {
    margin-left: 0 !important;
  }
  .margin-none.column_1 > *:not(.column-none) {
    width: 100%;
  }
  .margin-none.column_2 > *:not(.column-none) {
    width: 50%;
  }
  .margin-none.column_3 > *:not(.column-none) {
    width: 33.333%;
  }
  .margin-none.column_4 > *:not(.column-none) {
    width: 25%;
  }
  .margin-none.column_5 > *:not(.column-none) {
    width: 20%;
  }
  .margin-none.column_6 > *:not(.column-none) {
    width: 16.667%;
  }
  .margin-none.column_7 > *:not(.column-none) {
    width: 14.286%;
  }
  .margin-none.column_8 > *:not(.column-none) {
    width: 12.5%;
  }
  .margin-none.column_9 > *:not(.column-none) {
    width: 11.111%;
  }
  .margin-none.column_10 > *:not(.column-none) {
    width: 10%;
  }
  .margin-none.column_11 > *:not(.column-none) {
    width: 9.091%;
  }
  .margin-none.column_12 > *:not(.column-none) {
    width: 8.333%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .t-column_1 > *:not(.column-none) {
    width: 98%;
  }
  .t-column_2 > *:not(.column-none) {
    width: 48%;
  }
  .t-column_3 > *:not(.column-none) {
    width: 31.333%;
  }
  .t-column_4 > *:not(.column-none) {
    width: 23%;
  }
  .t-column_5 > *:not(.column-none) {
    width: 18%;
  }
  .t-column_6 > *:not(.column-none) {
    width: 14.667%;
  }
  .full-width.t-column_1 > *:not(.column-none) {
    width: 100%;
  }
  .full-width.t-column_1 > *:not(.column-none):nth-child(1n + 1) {
    margin-left: 0 !important;
  }
  .full-width.t-column_2 > *:not(.column-none) {
    width: 49%;
  }
  .full-width.t-column_2 > *:not(.column-none):nth-child(2n + 1) {
    margin-left: 0 !important;
  }
  .full-width.t-column_3 > *:not(.column-none) {
    width: 32%;
  }
  .full-width.t-column_3 > *:not(.column-none):nth-child(3n + 1) {
    margin-left: 0 !important;
  }
  .full-width.t-column_4 > *:not(.column-none) {
    width: 23.5%;
  }
  .full-width.t-column_4 > *:not(.column-none):nth-child(4n + 1) {
    margin-left: 0 !important;
  }
  .full-width.t-column_5 > *:not(.column-none) {
    width: 18.4%;
  }
  .full-width.t-column_5 > *:not(.column-none):nth-child(5n + 1) {
    margin-left: 0 !important;
  }
  .full-width.t-column_6 > *:not(.column-none) {
    width: 15%;
  }
  .full-width.t-column_6 > *:not(.column-none):nth-child(6n + 1) {
    margin-left: 0 !important;
  }
  .margin-none.t-column_1 > *:not(.column-none) {
    width: 100%;
  }
  .margin-none.t-column_2 > *:not(.column-none) {
    width: 50%;
  }
  .margin-none.t-column_3 > *:not(.column-none) {
    width: 33.333%;
  }
  .margin-none.t-column_4 > *:not(.column-none) {
    width: 25%;
  }
  .margin-none.t-column_5 > *:not(.column-none) {
    width: 20%;
  }
  .margin-none.t-column_6 > *:not(.column-none) {
    width: 16.667%;
  }
}
@media only screen and (max-width: 480px) {
  .m-column_1 > *:not(.column-none) {
    width: 98%;
  }
  .m-column_2 > *:not(.column-none) {
    width: 48%;
  }
  .m-column_3 > *:not(.column-none) {
    width: 31.333%;
  }
  .m-column_4 > *:not(.column-none) {
    width: 23%;
  }
  .full-width.m-column_1 > *:not(.column-none) {
    width: 100%;
  }
  .full-width.m-column_1 > *:not(.column-none):nth-child(1n + 1) {
    margin-left: 0 !important;
  }
  .full-width.m-column_2 > *:not(.column-none) {
    width: 49%;
  }
  .full-width.m-column_2 > *:not(.column-none):nth-child(2n + 1) {
    margin-left: 0 !important;
  }
  .full-width.m-column_3 > *:not(.column-none) {
    width: 32%;
  }
  .full-width.m-column_3 > *:not(.column-none):nth-child(3n + 1) {
    margin-left: 0 !important;
  }
  .full-width.m-column_4 > *:not(.column-none) {
    width: 23.5%;
  }
  .full-width.m-column_4 > *:not(.column-none):nth-child(4n + 1) {
    margin-left: 0 !important;
  }
  .margin-none.m-column_1 > *:not(.column-none) {
    width: 100%;
  }
  .margin-none.m-column_2 > *:not(.column-none) {
    width: 50%;
  }
  .margin-none.m-column_3 > *:not(.column-none) {
    width: 33.333%;
  }
  .margin-none.m-column_4 > *:not(.column-none) {
    width: 25%;
  }
}
.clearfix {
  *zoom: 1;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.align-top {
  vertical-align: top;
}
.align-middle {
  vertical-align: middle;
}
.align-bottom {
  vertical-align: bottom;
}
.ws-nowrap {
  white-space: nowrap;
}
.ws-normal {
  white-space: normal;
}
.text-light {
  font-weight: 300;
}
.text-normal {
  font-weight: normal;
  font-style: normal;
}
.text-medium {
  font-weight: 500;
}
.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}
.lh-small {
  line-height: 1;
}
.lh-medium {
  line-height: 1.21428571;
}
.lh-large {
  line-height: 1.78571429;
}
.cl-none {
  clear: none;
}
.cl-both {
  clear: both;
}
.fl-left {
  float: left !important;
}
.fl-right {
  float: right !important;
}
.fl-none {
  float: none !important;
}
.wrap {
  overflow: hidden !important;
}
.block,
.show {
  display: block !important;
}
.inline-block {
  display: inline-block;
  vertical-align: middle;
}
.word-break {
  -ms-word-break: break-all;
  word-break: break-all;
}
.hide,
.ui-helper-hidden,
.ui-helper-hidden-accessible {
  display: none;
}
.pointer {
  cursor: pointer !important;
}
.help {
  cursor: help !important;
}
.scroll {
  overflow: auto;
}
.fs12 {
  font-size: 12px !important;
}
.fs14 {
  font-size: 14px !important;
}
.fs16 {
  font-size: 16px !important;
}
.fs18 {
  font-size: 18px !important;
}
.fs24 {
  font-size: 24px !important;
}
.fs32 {
  font-size: 32px !important;
}
.fs48 {
  font-size: 48px !important;
}
.fs64 {
  font-size: 64px !important;
}
.inherit {
  color: inherit;
  background: inherit;
}
.inherit-bg {
  background: inherit;
}
.inherit-color {
  color: inherit;
}
a.inherit-color:hover {
  color: #199bef;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.m0px {
  margin: 0px !important;
}
.mt30px {
  margin-top: 30px !important;
}
.mt25px {
  margin-top: 25px !important;
}
.mt20px {
  margin-top: 20px !important;
}
.mt15px {
  margin-top: 15px !important;
}
.mt10px {
  margin-top: 10px !important;
}
.mt5px {
  margin-top: 5px !important;
}
.mt0px {
  margin-top: 0px !important;
}
.mb30px {
  margin-bottom: 30px !important;
}
.mb25px {
  margin-bottom: 25px !important;
}
.mb20px {
  margin-bottom: 20px !important;
}
.mb15px {
  margin-bottom: 15px !important;
}
.mb10px {
  margin-bottom: 10px !important;
}
.mb5px {
  margin-bottom: 5px !important;
}
.mb0px {
  margin-bottom: 0px !important;
}
.ml-grid {
  margin-left: 1% !important;
}
.mr-grid {
  margin-right: 1% !important;
}
.p0px {
  padding: 0px !important;
}
.pl-grid {
  padding-left: 1%;
}
.pr-grid {
  padding-right: 1%;
}
.gray-darker {
  color: #222222;
}
.gray-dark {
  color: #555555;
}
.gray {
  color: #888888;
}
.gray-light {
  color: #bbbbbb;
}
.gray-lighter {
  color: #eeeeee;
}
.gray-darker-bg {
  color: #fff;
  background-color: #222222;
}
.gray-dark-bg {
  color: #fff;
  background-color: #555555;
}
.gray-bg {
  color: #fff;
  background-color: #888888;
}
.gray-light-bg {
  color: #fff;
  background-color: #bbbbbb;
}
.gray-lighter-bg {
  color: #888888;
  background-color: #eeeeee;
}
.table {
  float: none;
  display: table;
}
.tr {
  float: none;
  display: table-row;
}
.td {
  float: none;
  display: table-cell;
}
.gl-change {
  font-size: 0;
}
.gl-change a,
.gl-change :before {
  font-size: 14px;
}
.gl-change .generator-links {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 11px !important;
  height: 11px !important;
  line-height: 11px !important;
  font-size: 0 !important;
  color: #ffffff;
  border-color: #0066e4;
  background-color: #00a1f1;
  padding: 4px !important;
  position: relative;
}
.gl-change .generator-links:before {
  font-size: 11px !important;
}
.gl-change .generator-links:hover,
.gl-change .generator-links:active,
.gl-change .generator-links.active {
  color: #ffffff;
  border-color: #004fb1;
  background-color: #007fbe;
}
.gl-change .generator-links img {
  display: none !important;
}
.gl-change .generator-links:before {
  font-family: 'flexkit-icons';
  content: "\e008";
}
.gl-change .generator-links + .generator-links {
  margin-left: 1px;
}
.gl-change .generator-links + .generator-links:before {
  content: "\e095";
}
.gl-change a.icon + .generator-links:before {
  content: "\e095";
  border-left: 2px solid #FFF;
  border-top: 2px solid #FFF;
  margin: 0 0 -2px -15px;
  vertical-align: bottom;
}
.gl-change .btn ~ .generator-links {
  vertical-align: top;
}
.gl-change .btn + .generator-links + .generator-links ~ .generator-links {
  top: 19px;
  left: -40px;
}
.gl-change.color .generator-links {
  padding: 4px;
  border: 1px dashed #fff;
  font-size: 0;
}
.gl-change.color .generator-links:before {
  font-size: 16px;
  width: 16px;
  height: 16px;
}
.gl-change.color .generator-links:before {
  content: "\e00a";
}
.rss {
  color: #f26522;
}
.skype {
  color: #00aff0;
}
.gplus {
  color: #dd4b39;
}
.twitter {
  color: #55acee;
}
.youtube {
  color: #e52d27;
}
.flicker {
  color: #ff0084;
}
.linkedin {
  color: #0976b4;
}
.facebook {
  color: #3b5998;
}
.pinterest {
  color: #cc2127;
}
.vkontakte {
  color: #45668e;
}
.instagram {
  color: #3f729b;
}
a.inherit {
  color: inherit;
}
a:hover.rss {
  color: #d44d0d;
}
a:hover.gplus {
  color: #c23321;
}
a:hover.twitter {
  color: #2795e9;
}
a:hover.youtube {
  color: #c21d17;
}
a:hover.linkedin {
  color: #075683;
}
a:hover.facebook {
  color: #2d4373;
}
a:hover.vkontakte {
  color: #344d6c;
}
.btn.rss {
  color: #ffffff;
  border-color: #f26522;
  background-color: #f26522;
}
.btn.rss:hover,
.btn.rss:active,
.btn.rss.active {
  color: #ffffff;
  border-color: #d44d0d;
  background-color: #d44d0d;
}
.btn.gplus {
  color: #ffffff;
  border-color: #dd4b39;
  background-color: #dd4b39;
}
.btn.gplus:hover,
.btn.gplus:active,
.btn.gplus.active {
  color: #ffffff;
  border-color: #c23321;
  background-color: #c23321;
}
.btn.twitter {
  color: #ffffff;
  border-color: #55acee;
  background-color: #55acee;
}
.btn.twitter:hover,
.btn.twitter:active,
.btn.twitter.active {
  color: #ffffff;
  border-color: #2795e9;
  background-color: #2795e9;
}
.btn.youtube {
  color: #ffffff;
  border-color: #e52d27;
  background-color: #e52d27;
}
.btn.youtube:hover,
.btn.youtube:active,
.btn.youtube.active {
  color: #ffffff;
  border-color: #c21d17;
  background-color: #c21d17;
}
.btn.linkedin {
  color: #ffffff;
  border-color: #0976b4;
  background-color: #0976b4;
}
.btn.linkedin:hover,
.btn.linkedin:active,
.btn.linkedin.active {
  color: #ffffff;
  border-color: #075683;
  background-color: #075683;
}
.btn.facebook {
  color: #ffffff;
  border-color: #3b5998;
  background-color: #3b5998;
}
.btn.facebook:hover,
.btn.facebook:active,
.btn.facebook.active {
  color: #ffffff;
  border-color: #2d4373;
  background-color: #2d4373;
}
.btn.vkontakte {
  color: #ffffff;
  border-color: #45668e;
  background-color: #45668e;
}
.btn.vkontakte:hover,
.btn.vkontakte:active,
.btn.vkontakte.active {
  color: #ffffff;
  border-color: #344d6c;
  background-color: #344d6c;
}
.labeled.gplus :checked ~ input,
.labeled.gplus input:focus {
  border-color: #dd4b39;
}
.labeled.gplus *:checked ~ label,
.labeled.gplus *:focus ~ label,
.labeled.gplus *:checked ~ .label,
.labeled.gplus *:focus ~ .label {
  background: #dd4b39;
}
.labeled.gplus *:checked ~ [class*="icon-"],
.labeled.gplus *:focus ~ [class*="icon-"] {
  color: #dd4b39;
}
.labeled.twitter :checked ~ input,
.labeled.twitter input:focus {
  border-color: #55acee;
}
.labeled.twitter *:checked ~ label,
.labeled.twitter *:focus ~ label,
.labeled.twitter *:checked ~ .label,
.labeled.twitter *:focus ~ .label {
  background: #55acee;
}
.labeled.twitter *:checked ~ [class*="icon-"],
.labeled.twitter *:focus ~ [class*="icon-"] {
  color: #55acee;
}
.labeled.facebook :checked ~ input,
.labeled.facebook input:focus {
  border-color: #3b5998;
}
.labeled.facebook *:checked ~ label,
.labeled.facebook *:focus ~ label,
.labeled.facebook *:checked ~ .label,
.labeled.facebook *:focus ~ .label {
  background: #3b5998;
}
.labeled.facebook *:checked ~ [class*="icon-"],
.labeled.facebook *:focus ~ [class*="icon-"] {
  color: #3b5998;
}
.labeled.linkedin :checked ~ input,
.labeled.linkedin input:focus {
  border-color: #0976b4;
}
.labeled.linkedin *:checked ~ label,
.labeled.linkedin *:focus ~ label,
.labeled.linkedin *:checked ~ .label,
.labeled.linkedin *:focus ~ .label {
  background: #0976b4;
}
.labeled.linkedin *:checked ~ [class*="icon-"],
.labeled.linkedin *:focus ~ [class*="icon-"] {
  color: #0976b4;
}
.labeled.youtube :checked ~ input,
.labeled.youtube input:focus {
  border-color: #e52d27;
}
.labeled.youtube *:checked ~ [class*="icon-"],
.labeled.youtube *:focus ~ [class*="icon-"] {
  color: #e52d27;
}
.labeled.youtube *:checked ~ label,
.labeled.youtube *:focus ~ label,
.labeled.youtube *:checked ~ .label,
.labeled.youtube *:focus ~ .label {
  background: #e52d27;
}
.labeled.rss :checked ~ input,
.labeled.rss input:focus {
  border-color: #f26522;
}
.labeled.rss *:checked ~ label,
.labeled.rss *:focus ~ label,
.labeled.rss *:checked ~ .label,
.labeled.rss *:focus ~ .label {
  background: #f26522;
}
.labeled.rss *:checked ~ [class*="icon-"],
.labeled.rss *:focus ~ [class*="icon-"] {
  color: #f26522;
}
.labeled.vkontakte :checked ~ input,
.labeled.vkontakte input:focus {
  border-color: #45668e;
}
.labeled.vkontakte *:checked ~ label,
.labeled.vkontakte *:focus ~ label,
.labeled.vkontakte *:checked ~ .label,
.labeled.vkontakte *:focus ~ .label {
  background: #45668e;
}
.labeled.vkontakte *:checked ~ [class*="icon-"],
.labeled.vkontakte *:focus ~ [class*="icon-"] {
  color: #45668e;
}
.social-field .labeled {
  float: left;
  margin: 0;
  cursor: pointer;
}
.social-field .labeled + .labeled {
  margin-left: 5px;
}
.social-field .labeled [class*="icon-"] {
  float: left;
  font-size: 0;
  width: 35px;
  height: 35px;
  line-height: 35px;
}
.social-field .labeled [class*="icon-"]:before {
  font-size: 35px;
}
.social-field .labeled input {
  width: 0;
  margin-left: -24px;
}
.social-field .labeled :checked ~ input {
  margin-left: 0;
  width: 250px;
}
body {
  font-size: 14px;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.42857143;
}
.primary {
  color: #61b3de;
}
a.primary:hover {
  color: #2a92c9;
}
.success {
  color: #8fd400;
}
a.success:hover {
  color: #5b8800;
}
.warning {
  color: #ffbb00;
}
a.warning:hover {
  color: #b38300;
}
.error {
  color: #f65314;
}
a.error:hover {
  color: #b73807;
}
.info {
  color: #00a1f1;
}
a.info:hover {
  color: #006ea4;
}
.seosamba-color {
  color: #83b421;
}
a.seosamba-color:hover {
  color: #547315;
}
.seotoaster-color {
  color: #6464fd;
}
a.seotoaster-color:hover {
  color: #1818fc;
}
.seosamba-bg {
  color: #fff;
  background-color: #83b421;
}
.seotoaster-bg {
  color: #fff;
  background-color: #6464fd;
}
.primary-bg {
  background-color: #61b3de;
  color: #ffffff;
}
.success-bg {
  background-color: #8fd400;
  color: #fff;
}
.warning-bg {
  background-color: #ffbb00;
  color: #fff;
}
.error-bg {
  background-color: #f65314;
  color: #fff;
}
.info-bg {
  background-color: #00a1f1;
  color: #fff;
}
.larger {
  font-size: 1.5em;
}
.large {
  font-size: 1.25em;
}
.small {
  font-size: 0.85em;
}
.mini {
  font-size: 0.75em;
}
code {
  padding: 1px 5px;
  background: #f7f7f7;
  border: 1px solid #ddd;
  color: #f65314;
}
a {
  color: #199bef;
  text-decoration: none;
}
a:hover {
  color: #0b6097;
}
a:active {
  color: #0b6097;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 1.5em;
  margin-bottom: 0.25em;
  color: #222222;
  font-weight: bold;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
.h1:first-child,
.h2:first-child,
.h3:first-child,
.h4:first-child,
.h5:first-child,
.h6:first-child {
  margin-top: 0;
}
.slide .slide-description h1,
.slide .slide-description h2,
.slide .slide-description h3,
.slide .slide-description h4,
.slide .slide-description h5,
.slide .slide-description h6,
.slide .slide-description .h1,
.slide .slide-description .h2,
.slide .slide-description .h3,
.slide .slide-description .h4,
.slide .slide-description .h5,
.slide .slide-description .h6 {
  color: inherit;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer .h1,
footer .h2,
footer .h3,
footer .h4,
footer .h5,
footer .h6 {
  color: #222222;
}
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
.h1:empty,
.h2:empty,
.h3:empty,
.h4:empty,
.h5:empty,
.h6:empty {
  display: none;
}
h1,
.h1 {
  font-size: 2.25em;
}
h2,
.h2 {
  font-size: 1.75em;
}
h3,
.h3 {
  font-size: 1.25em;
}
h4,
.h4 {
  font-size: 1em;
}
h5,
.h5 {
  font-size: 0.875em;
}
h6,
.h6 {
  font-size: 0.75em;
}
.subtitle {
  color: #888888;
  font-size: 0.75em;
}
p {
  margin-top: 0;
  margin-bottom: 15px;
  *zoom: 1;
}
p:after,
p:before {
  content: "";
  display: table;
}
p:after {
  clear: both;
}
p:after,
p:before {
  content: "";
  display: table;
}
p:after {
  clear: both;
}
p img {
  margin: 0;
}
address {
  margin-bottom: 20px;
  font-style: normal;
}
blockquote {
  margin: 2em 0;
  padding: 0.25em 2.5em;
  color: #6f6f6f;
  font-size: 1.25em;
  position: relative;
}
blockquote:before,
blockquote:after {
  position: absolute;
  color: #bbbbbb;
  font-size: 2em;
  font-family: 'flexkit-icons';
  line-height: 1em;
}
blockquote:after {
  right: 0;
  bottom: -0.25em;
  content: "\e074";
}
blockquote:before {
  left: 0;
  top: -0.25em;
  content: "\e073";
}
blockquote p {
  margin-bottom: 0;
}
blockquote p + p {
  margin-top: 15px;
}
blockquote.noquotes {
  border-left: 2px solid #bbbbbb;
  padding: .5em 1em;
}
blockquote.noquotes:before,
blockquote.noquotes:after {
  content: '';
}
blockquote.onequote {
  padding-left: 2em;
  padding-right: 2em;
}
blockquote.onequote:before {
  top: -0.45em;
  font-size: 5em;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
blockquote.onequote:after {
  content: '';
}
blockquote.cloud {
  padding: 1em;
  background-color: #eeeeee;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
}
blockquote.cloud:after {
  content: '';
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  margin: auto;
  width: 0;
  height: 0;
  border-top-color: #eeeeee;
  top: 100%;
  bottom: auto;
  border-right-color: #eeeeee;
  left: 0;
  right: 0;
}
blockquote.cloud:before {
  content: '';
}
blockquote.cloud.border {
  background-color: #ffffff;
  padding: 1em;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
blockquote.cloud.border:before {
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-width: 9px;
  border-style: solid;
  border-color: #ffffff #ffffff transparent transparent;
  margin: auto;
  width: 0;
  height: 0;
}
blockquote.cloud.right {
  zoom: 1;
}
blockquote.cloud.right:after {
  left: auto;
  right: 100px;
}
blockquote.cloud.right:before {
  left: auto;
  right: 101px;
}
blockquote.cloud.left {
  zoom: 1;
}
blockquote.cloud.left:after {
  left: 100px;
  right: auto;
  border-right-color: transparent;
  border-left-color: #eeeeee;
}
blockquote.cloud.left:before {
  left: 101px;
  right: auto;
  border-right-color: transparent;
  border-left-color: #ffffff;
}
ul,
ol {
  margin-bottom: 1.5em;
  padding-left: 2.5em;
}
ul ol,
ol ol,
ul ul,
ol ul {
  margin: 0.3em 0 1em;
  font-size: 0.9em;
}
ul li,
ol li {
  margin-bottom: 0.3em;
}
ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-latin;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-bottom: 0.75em;
}
dl dd + dd {
  margin-top: -0.5em;
}
dl.horizontal dt {
  float: left;
  clear: left;
  width: 35%;
  text-align: right;
}
dl.horizontal dd {
  margin-left: 37%;
}
[class*=" list-"],
[class^="list-"] {
  list-style-type: none;
  padding-left: 0;
}
ul.list-inline {
  zoom: 1;
}
ul.list-inline > li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.5em;
}
ul.list-bordered {
  zoom: 1;
}
ul.list-bordered > li {
  border-bottom: 1px solid #bbbbbb;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
footer ul.list-bordered > li {
  border-color: inherit;
}
ul.list-bordered.dashed > li {
  border-bottom-style: dashed;
}
ul.list-arrow {
  zoom: 1;
}
ul.list-arrow > li {
  padding-left: 1em;
}
ul.list-arrow > li:before {
  float: left;
  color: inherit;
  margin-left: -1em;
  font-family: 'flexkit-icons';
  content: '\e0c3';
}
ul.list-arrow > li:hover:before {
  color: #61b3de;
}
ul.list-count-sign {
  counter-reset: list;
}
ul.list-count-sign > li {
  margin-bottom: 0.5em;
  padding-left: 3em;
  line-height: 2em;
}
ul.list-count-sign > li:before {
  display: inline-block;
  vertical-align: middle;
  counter-increment: list;
  content: counter(list);
  width: 2em;
  height: 2em;
  text-align: center;
  background-color: #eeeeee;
  margin-left: -3em;
  margin-right: 1em;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  -webkit-border-radius: 10em;
  border-radius: 10em;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
ul.list-count-sign > li:hover:before {
  background: #61b3de;
  color: #ffffff;
}
ul.list-icon-sign {
  counter-reset: list;
}
ul.list-icon-sign > li {
  margin-bottom: 0.5em;
  padding-left: 3em;
  line-height: 2em;
  display: list-item;
}
ul.list-icon-sign > li:before {
  display: inline-block;
  vertical-align: middle;
  width: 2em;
  height: 2em;
  line-height: inherit;
  text-align: center;
  background-color: #eeeeee;
  margin-left: -3em;
  margin-right: 1em;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  -webkit-border-radius: 10em;
  border-radius: 10em;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
ul.list-icon-sign > li:hover:before {
  background: #61b3de;
  color: #ffffff;
}
ul.list-bullet {
  zoom: 1;
}
ul.list-bullet > li {
  padding-left: 1em;
}
ul.list-bullet > li:before {
  content: '\002022';
  vertical-align: top;
  color: #61b3de;
  margin-left: -1em;
  margin-right: 1em;
}
ul.list-testimonials {
  zoom: 1;
}
ul.list-testimonials li {
  position: relative;
  margin: 0 0 3.5em;
  border: 1px solid #bbbbbb;
  padding: 10px;
  font-size: 0.85em;
}
ul.list-testimonials li p {
  margin: 0.5em 0 0;
}
ul.list-testimonials li p:first-child {
  margin: 0;
}
ul.list-testimonials li cite {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 5px 5px 50px;
  color: #61b3de;
}
ul.list-testimonials li cite > * {
  color: #555555;
}
ul.list-testimonials li cite:after,
ul.list-testimonials li cite:before {
  content: "";
  position: absolute;
  top: 0;
  left: 11px;
  border-style: solid;
  border-width: 15px;
  border-color: #fff #fff transparent transparent;
}
ul.list-testimonials li cite:before {
  left: 10px;
  border-width: 16px;
  border-color: #bbbbbb #bbbbbb transparent transparent;
}
ul.list-tags {
  margin-bottom: 0;
  *zoom: 1;
}
ul.list-tags:after,
ul.list-tags:before {
  content: "";
  display: table;
}
ul.list-tags:after {
  clear: both;
}
ul.list-tags:after,
ul.list-tags:before {
  content: "";
  display: table;
}
ul.list-tags:after {
  clear: both;
}
ul.list-tags > li {
  float: left;
  margin: 0.5%;
  padding: 4px 8px;
  background: #eeeeee;
  cursor: pointer;
  line-height: 1;
  border: 1px solid #d5d5d5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
ul.list-tags > li.filed {
  padding: 1px;
}
ul.list-tags > li > * {
  line-height: normal;
}
ul.list-tags > li img {
  width: auto;
  max-height: 16px;
}
ul.list-tags > li:hover,
ul.list-tags > li.active,
ul.list-tags > li.tag-current {
  background: #d5d5d5;
}
ul.list-tags > li.disabled {
  cursor: default;
  background: #eeeeee;
  color: #d5d5d5;
}
ul.list-icon-line > li {
  margin: 0 0 0 24.9375px;
  padding: 10px 0 15px 33.25px;
  border-left: 2px solid #eeeeee;
  position: relative;
}
ul.list-icon-line > li .bubble {
  position: absolute;
  top: 5px;
  left: -17.625px;
  width: 33.25px;
  height: 33.25px;
  font-size: 19px;
  text-align: center;
  background-color: #fff;
  border: 2px solid #eeeeee;
  -webkit-border-radius: 10em;
  border-radius: 10em;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
ul.list-icon-line > li:hover.bubble {
  border-color: #e2e2e2;
}
table {
  width: 100%;
  background-color: transparent;
}
table th,
table td {
  padding: .5em .75em;
  border-top: 1px solid #afafaf;
  vertical-align: middle;
}
table th {
  border-top: 0;
  text-align: left;
}
table td:first-child {
  vertical-align: top;
}
table tbody + tbody {
  border-top: 2px solid #afafaf;
}
table table {
  background-color: #fff;
}
table.table-outline {
  border: 1px solid #afafaf;
}
table.table-bordered {
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  border-collapse: separate;
}
table.table-bordered tr > th,
table.table-bordered tr > td {
  border-right: 1px solid #afafaf;
}
table.table-bordered tr > th:first-child,
table.table-bordered tr > td:first-child {
  border-left: 1px solid #afafaf;
}
table.table-striped {
  zoom: 1;
}
table.table-striped tr > td {
  border-top: 0;
}
table.table-striped > tr:nth-child(even),
table.table-striped tbody tr:nth-child(odd) {
  background-color: #eeeeee;
}
table.table-hover {
  zoom: 1;
}
table.table-hover thead tr:hover,
table.table-hover tfoot tr:hover {
  background: inherit !important;
}
table.table-hover tr:hover {
  background-color: #eeeeee !important;
}
table.table-hover tr:hover.primary {
  background-color: #cae6f4 !important;
  border-color: #9bcfea !important;
}
table.table-hover tr:hover.success {
  background-color: #dff3b6 !important;
  border-color: #bde66a !important;
}
table.table-hover tr:hover.error {
  background-color: #fccbb7 !important;
  border-color: #fa9771 !important;
}
table.table-hover tr:hover.warning {
  background-color: #ffebb3 !important;
  border-color: #ffd666 !important;
}
table.table-hover tr:hover.info {
  background-color: #b4e3fb !important;
  border-color: #67c7f7 !important;
}
table.responsive {
  zoom: 1;
}
table.responsive .table-head {
  display: none;
}
@media only screen and (max-width: 800px) {
  table.responsive {
    border: none;
  }
  table.responsive thead,
  table.responsive th {
    display: none;
  }
  table.responsive tr {
    display: block;
    border: 1px solid #afafaf;
  }
  table.responsive tr + tr {
    margin-top: 1.5em;
  }
  table.responsive td {
    display: block;
    border-width: 0 !important;
  }
  table.responsive td + td {
    border-top-width: 1px !important;
  }
  table.responsive .table-head {
    font-size: 12px;
    display: block;
    border-bottom: 1px dashed;
    margin-bottom: 0.5em;
    opacity: 0.75;
    filter: alpha(opacity=75);
  }
}
tr.primary,
td.primary {
  color: #315a6f;
  background-color: #dff0f8 !important;
}
tr.success,
td.success {
  color: #486a00;
  background-color: #e9f6cc !important;
}
tr.error,
td.error {
  color: #7b2a0a;
  background-color: #fdddd0 !important;
}
tr.warning,
td.warning {
  color: #805e00;
  background-color: #fff1cc !important;
}
tr.info,
td.info {
  color: #005179;
  background-color: #ccecfc !important;
}
tr.primary td {
  border-color: #b0d9ef !important;
  border-bottom: 1px solid #b0d9ef !important;
}
tr.success td {
  border-color: #c7ea80 !important;
  border-bottom: 1px solid #c7ea80 !important;
}
tr.error td {
  border-color: #fba98a !important;
  border-bottom: 1px solid #fba98a !important;
}
tr.warning td {
  border-color: #ffdd80 !important;
  border-bottom: 1px solid #ffdd80 !important;
}
tr.info td {
  border-color: #80d0f8 !important;
  border-bottom: 1px solid #80d0f8 !important;
}
img[style*="float: left"],
img[style*="float:left"] {
  margin-right: 15px;
}
img[style*="float: right"],
img[style*="float:right"] {
  margin-left: 15px;
}
.img-thumbnail img,
img.img-thumbnail {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  padding: 3px;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #bbbbbb;
}
.img-thumbnail img:hover,
img.img-thumbnail:hover {
  border-color: #61b3de;
}
.img-circle img,
img.img-circle {
  -webkit-border-radius: 50em;
  border-radius: 50em;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.img-rounded img,
img.img-rounded {
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.img-leaflet-right img,
img.img-leaflet-right {
  -webkit-border-radius: 50% 0;
  border-radius: 50% 0;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.img-leaflet-left img,
img.img-leaflet-left {
  -webkit-border-radius: 0 50%;
  border-radius: 0 50%;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
[class*="caption"] {
  line-height: 1.42857143;
  padding: 4px;
  color: #ffffff;
  text-align: center;
  font-size: 0.85em;
  background: rgba(97, 179, 222, 0.8);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#cc61b3de', EndColorStr='#cc61b3de')";
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#cc61b3de', EndColorStr='#cc61b3de');
  zoom: 1 !important;
}
.btn,
button,
[type="submit"],
[type="button"],
[type="reset"] {
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  line-height: 2.5em;
  padding: 0 1em;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  border-color: #257ec1;
  background-color: #61b3de;
  border: none;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn:hover,
button:hover,
[type="submit"]:hover,
[type="button"]:hover,
[type="reset"]:hover,
.btn:active,
button:active,
[type="submit"]:active,
[type="button"]:active,
[type="reset"]:active,
.btn.active,
button.active,
[type="submit"].active,
[type="button"].active,
[type="reset"].active {
  color: #ffffff;
  border-color: #1d6296;
  background-color: #379fd5;
}
.btn[disabled],
button[disabled],
[type="submit"][disabled],
[type="button"][disabled],
[type="reset"][disabled] {
  border-color: #bbbbbb !important;
  color: #bbbbbb !important;
  background-color: #eeeeee !important;
  cursor: default !important;
  cursor: not-allowed !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.btn:before,
button:before,
[type="submit"]:before,
[type="button"]:before,
[type="reset"]:before {
  font-size: 1.25em;
  margin-right: 5px;
}
.btn[class*="grid_"],
button[class*="grid_"],
[type="submit"][class*="grid_"],
[type="button"][class*="grid_"],
[type="reset"][class*="grid_"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.btn:active,
button:active,
[type="submit"]:active,
[type="button"]:active,
[type="reset"]:active,
.btn.active,
button.active,
[type="submit"].active,
[type="button"].active,
[type="reset"].active {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
}
.btn.inverse:hover,
.btn.inverse:active {
  color: #ffffff;
  background-color: #379fd5;
}
.btn.warning {
  color: #ffffff;
  border-color: #ff8900;
  background-color: #ffbb00;
}
.btn.warning:hover,
.btn.warning:active,
.btn.warning.active {
  color: #ffffff;
  border-color: #cc6e00;
  background-color: #cc9600;
}
.btn.error {
  color: #ffffff;
  border-color: #ed1b02;
  background-color: #f65314;
}
.btn.error:hover,
.btn.error:active,
.btn.error.active {
  color: #ffffff;
  border-color: #bb1501;
  background-color: #cf3f08;
}
.btn.success {
  color: #ffffff;
  border-color: #50b000;
  background-color: #8fd400;
}
.btn.success:hover,
.btn.success:active,
.btn.success.active {
  color: #ffffff;
  border-color: #397d00;
  background-color: #6da100;
}
.btn.info {
  color: #ffffff;
  border-color: #0066e4;
  background-color: #00a1f1;
}
.btn.info:hover,
.btn.info:active,
.btn.info.active {
  color: #ffffff;
  border-color: #004fb1;
  background-color: #007fbe;
}
.btn.inverse {
  color: #bbbbbb;
  background-color: #eeeeee;
  border-color: #bbbbbb;
}
.btn.block {
  float: none;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.btn.block + .block {
  margin-top: 0.5em;
}
.btn.icon {
  overflow: hidden;
  width: 2.5em;
  padding: 0;
  white-space: nowrap;
}
.btn.icon:before {
  width: 100%;
  float: left;
  margin: 0;
  line-height: inherit;
}
.btn.link {
  text-decoration: underline;
  background-color: transparent !important;
  color: #199bef;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link:hover {
  color: #074268;
}
.btn.link:hover {
  text-decoration: none;
}
.btn.link.disabled,
.btn.link[disabled] {
  color: #6f6f6f !important;
}
.btn.link.warning {
  color: #ffbb00;
}
.btn.link.warning:hover {
  color: #664b00;
}
.btn.link.error {
  color: #f65314;
}
.btn.link.error:hover {
  color: #6d2104;
}
.btn.link.success {
  color: #8fd400;
}
.btn.link.success:hover {
  color: #283b00;
}
.btn.link.info {
  color: #00a1f1;
}
.btn.link.info:hover {
  color: #003b58;
}
.btn.link.inverse {
  color: #494949;
}
.btn.outline-bg {
  border: 1px solid;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #61b3de;
  border-color: #61b3de;
  background-color: transparent;
}
.btn.outline-bg:hover,
.btn.outline-bg:active,
.btn.outline-bg.active {
  color: #ffffff;
  border-color: #61b3de;
  background-color: #61b3de;
}
.btn.outline-bg.inverse:hover,
.btn.outline-bg.inverse:active {
  color: #ffffff;
  border-color: #61b3de;
}
.btn.outline-bg.warning {
  color: #ffbb00;
  border-color: #ffbb00;
  background-color: transparent;
}
.btn.outline-bg.warning:hover,
.btn.outline-bg.warning:active,
.btn.outline-bg.warning.active {
  color: #ffffff;
  border-color: #ffbb00;
  background-color: #ffbb00;
}
.btn.outline-bg.error {
  color: #f65314;
  border-color: #f65314;
  background-color: transparent;
}
.btn.outline-bg.error:hover,
.btn.outline-bg.error:active,
.btn.outline-bg.error.active {
  color: #ffffff;
  border-color: #f65314;
  background-color: #f65314;
}
.btn.outline-bg.success {
  color: #8fd400;
  border-color: #8fd400;
  background-color: transparent;
}
.btn.outline-bg.success:hover,
.btn.outline-bg.success:active,
.btn.outline-bg.success.active {
  color: #ffffff;
  border-color: #8fd400;
  background-color: #8fd400;
}
.btn.outline-bg.info {
  color: #00a1f1;
  border-color: #00a1f1;
  background-color: transparent;
}
.btn.outline-bg.info:hover,
.btn.outline-bg.info:active,
.btn.outline-bg.info.active {
  color: #ffffff;
  border-color: #00a1f1;
  background-color: #00a1f1;
}
.btn.outline-bg.inverse {
  color: #bbbbbb;
  border-color: #bbbbbb;
}
.btn.rounded {
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.btn.circle {
  -webkit-border-radius: 10em;
  border-radius: 10em;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
[class*="ui-buttonset"],
.btn-group {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
[class*="ui-buttonset"] .ui-button,
.btn-group .ui-button,
[class*="ui-buttonset"] .btn,
.btn-group .btn {
  float: left;
}
[class*="ui-buttonset"] .ui-button ~ .btn,
.btn-group .ui-button ~ .btn,
[class*="ui-buttonset"] .btn ~ .btn,
.btn-group .btn ~ .btn {
  margin-left: 1px;
}
[class*="ui-buttonset"] input:checked + .ui-button,
.btn-group input:checked + .ui-button,
[class*="ui-buttonset"] input:checked + .btn,
.btn-group input:checked + .btn {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
hr {
  clear: both;
  border: none;
  border-top: 1px solid #bbbbbb;
  line-height: 0;
  margin: 1em 0;
}
hr.large {
  border-top-width: 2px;
}
hr.larger {
  border-top-width: 3px;
}
hr:before {
  content: attr(title);
  top: -0.55em;
  position: relative;
  line-height: 1.1em;
  color: #bbbbbb;
  max-width: 94%;
  margin: -0.5px 3% 0;
  padding: 0px .75em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  background: #ffffff;
}
hr.left {
  text-align: left;
}
hr.right {
  text-align: right;
}
hr.center {
  text-align: center;
}
hr.circle {
  zoom: 1;
}
hr.circle:before {
  padding: .35em .75em;
  background: #bbbbbb;
  color: #fff;
  top: -0.9em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
hr.dashed {
  border-top-style: dashed;
}
hr.dotted {
  border-top-style: dotted;
}
.badge {
  background: #61b3de;
  color: #ffffff;
  min-width: 1em;
  padding: 4px;
  font-size: 0.85em;
  font-weight: bold;
  line-height: 1em;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  vertical-align: baseline;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.badge.success,
.badge.info,
.badge.error,
.badge.warning {
  color: #fff;
}
.badge.success {
  background: #8fd400;
}
.badge.warning {
  background: #ffbb00;
}
.badge.error {
  background: #f65314;
}
.badge.info {
  background: #00a1f1;
}
.badge.inverse {
  background: #ffffff;
  color: #61b3de;
}
.badge.square {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.badge.leaflet-right {
  -webkit-border-radius: 0.75em 0;
  border-radius: 0.75em 0;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.badge.leaflet-left {
  -webkit-border-radius: 0 0.75em;
  border-radius: 0 0.75em;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.message {
  display: block;
  padding: 8px 12px;
  background-color: #dff0f8;
  color: #315a6f;
  border-left: 3px solid #b0d9ef;
}
.message a {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.message a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.message hr {
  border-color: inherit;
}
.message.success {
  color: #486a00;
  border-color: #c7ea80;
  background-color: #e9f6cc;
}
.message.warning {
  color: #805e00;
  border-color: #ffdd80;
  background-color: #fff1cc;
}
.message.error {
  color: #7b2a0a;
  border-color: #fba98a;
  background-color: #fdddd0;
}
.message.info {
  color: #005179;
  border-color: #80d0f8;
  background-color: #ccecfc;
}
.message.gray {
  color: #222222;
  border-color: #bbbbbb;
  background-color: #eeeeee;
}
.message[class*=icon-] {
  padding-left: 48px;
}
.message[class*=icon-]:before {
  position: absolute;
  top: 8px;
  left: 12px;
  font-size: 24px;
}
.callout {
  display: block;
  margin-bottom: 20px;
  padding: 8px 12px;
  border-width: 1px 1px 1px 4px;
  border-style: solid;
  border-color: #ddd;
  border-left-color: #61b3de;
  color: inherit;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.callout .callout-header {
  color: #61b3de;
  margin-bottom: 5px;
}
.callout.success {
  border-left-color: #8fd400;
}
.callout.success .callout-header {
  color: #8fd400;
}
.callout.warning {
  border-left-color: #ffbb00;
}
.callout.warning .callout-header {
  color: #ffbb00;
}
.callout.error {
  border-left-color: #f65314;
}
.callout.error .callout-header {
  color: #f65314;
}
.callout.info {
  border-left-color: #00a1f1;
}
.callout.info .callout-header {
  color: #00a1f1;
}
.callout.gray {
  border-left-color: #888888;
}
.callout.gray .callout-header {
  color: #888888;
}
.panel {
  color: inherit;
  border: 1px solid #b0d9ef;
  margin-bottom: 2em;
}
.panel .panel-header,
.panel .panel-content,
.panel .panel-footer {
  margin: 0;
  padding: 8px 12px;
  *zoom: 1;
}
.panel .panel-header:after,
.panel .panel-content:after,
.panel .panel-footer:after,
.panel .panel-header:before,
.panel .panel-content:before,
.panel .panel-footer:before {
  content: "";
  display: table;
}
.panel .panel-header:after,
.panel .panel-content:after,
.panel .panel-footer:after {
  clear: both;
}
.panel .panel-header:after,
.panel .panel-content:after,
.panel .panel-footer:after,
.panel .panel-header:before,
.panel .panel-content:before,
.panel .panel-footer:before {
  content: "";
  display: table;
}
.panel .panel-header:after,
.panel .panel-content:after,
.panel .panel-footer:after {
  clear: both;
}
.panel .panel-header {
  display: block;
  background: #dff0f8;
  color: #315a6f;
  border-bottom: inherit;
  font-size: 1.25em;
}
.panel .panel-footer {
  background: #fcfcfc;
  border-top: inherit;
  border-top-color: #efefef;
}
.panel.success {
  border-color: #c7ea80;
}
.panel.success .panel-header {
  background: #e9f6cc;
  color: #486a00;
}
.panel.warning {
  border-color: #ffdd80;
}
.panel.warning .panel-header {
  background: #fff1cc;
  color: #805e00;
}
.panel.error {
  border-color: #fba98a;
}
.panel.error .panel-header {
  background: #fdddd0;
  color: #7b2a0a;
}
.panel.info {
  border-color: #80d0f8;
}
.panel.info .panel-header {
  background: #ccecfc;
  color: #005179;
}
.panel.gray {
  border-color: #bbbbbb;
}
.panel.gray .panel-header {
  background: #eeeeee;
  color: #222222;
}
.panel.collapse .panel-header {
  position: relative;
  padding-right: 31px;
}
.panel.collapse .collapse-btn {
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  width: 19px;
  height: 19px;
  line-height: 19px;
  font-size: 0;
}
.panel.collapse .collapse-btn:before {
  font-size: 19px;
}
