.listpages,
.listcategories,
.featureditem,
.relatedpages,
.related-products {
  font-size: 0;
}
.listpages li,
.listcategories li,
.featureditem li,
.relatedpages li,
.related-products li {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
#main-menu {
  background: #61b3de;
}
.main_menu {
  position: relative;
  z-index: 110;
  background: #61b3de;
  color: #ffffff;
  line-height: 35px;
}
.main_menu li {
  float: left;
  position: relative;
}
.main_menu li:hover ul {
  display: block;
}
.main_menu a {
  display: block;
  padding: 0 12px;
  color: inherit;
  font-size: 1.15em;
}
.main_menu a:hover {
  background: #379fd5;
  color: #ffffff;
}
.main_menu a.current {
  background: #379fd5;
  color: #ffffff;
}
.main_menu ul {
  position: absolute;
  z-index: 0;
  display: none;
  width: 300px;
  background: #ffffff;
  color: #555555;
  -webkit-box-shadow: 0 3px 5px #555555;
  -moz-box-shadow: 0 3px 5px #555555;
  box-shadow: 0 3px 5px #555555;
}
.main_menu ul.open {
  display: block !important;
}
.main_menu ul li {
  float: none;
}
.main_menu ul li a:hover {
  background: #eeeeee;
  color: #555555;
}
.main_menu ul li a.current {
  background: #eeeeee;
  color: #555555;
}
.static_menu {
  overflow: hidden;
}
.static_menu li {
  float: left;
  padding: 0 8px;
  line-height: 1;
}
.static_menu li + li {
  border-left: 1px solid #888888;
}
.featureapage,
.featureditem li,
.relatedpages li {
  margin-left: 2%;
  margin-right: 0;
  width: 32%;
  margin-bottom: 30px;
}
.featureapage:nth-child(3n + 1),
.featureditem li:nth-child(3n + 1),
.relatedpages li:nth-child(3n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .featureapage,
  .featureditem li,
  .relatedpages li {
    width: 49%;
  }
  .featureapage:nth-child(n),
  .featureditem li:nth-child(n),
  .relatedpages li:nth-child(n) {
    margin-left: 2%;
  }
  .featureapage:nth-child(2n + 1),
  .featureditem li:nth-child(2n + 1),
  .relatedpages li:nth-child(2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .featureapage,
  .featureditem li,
  .relatedpages li {
    width: 100%;
  }
  .featureapage:nth-child(1n + 1),
  .featureditem li:nth-child(1n + 1),
  .relatedpages li:nth-child(1n + 1) {
    margin-left: 0;
  }
}
.featureapage .page-teaser-image,
.featureditem li .page-teaser-image,
.relatedpages li .page-teaser-image {
  overflow: hidden;
  margin-bottom: 0.5em;
}
.featureapage {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 31.33333333%;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .featureapage {
    width: 48%;
  }
}
@media only screen and (max-width: 480px) {
  .featureapage {
    width: 98%;
  }
}
.listpages li,
.listcategories li {
  margin-bottom: 30px;
}
.listpages .page-teaser-image,
.listcategories .page-teaser-image {
  float: left;
  margin-right: 3%;
  width: 150px;
  overflow: hidden;
}
.sidebar .listpages li,
.sidebar .listcategories li,
.sidebar .featureditem li,
.sidebar .featureapage,
.sidebar .relatedpages li {
  width: 100%;
  margin: 0 0 2em;
}
.sidebar .listpages li .page-teaser-image,
.sidebar .listcategories li .page-teaser-image,
.sidebar .featureditem li .page-teaser-image,
.sidebar .featureapage .page-teaser-image,
.sidebar .relatedpages li .page-teaser-image {
  width: 100%;
  float: none;
  margin: 0 0 0.5em;
}
.sidebar .listpages li span,
.sidebar .listcategories li span,
.sidebar .featureditem li span,
.sidebar .featureapage span,
.sidebar .relatedpages li span,
.sidebar .listpages li p,
.sidebar .listcategories li p,
.sidebar .featureditem li p,
.sidebar .featureapage p,
.sidebar .relatedpages li p {
  font-size: 0.85em;
  line-height: 1.25;
}
.listxrss li {
  margin-bottom: 20px;
}
.listxrss a {
  display: block;
  margin-bottom: 1em;
}
.listxrss a ~ a {
  float: left;
  margin-right: 2%;
}
#left .listxrss a ~ a,
#right .listxrss a ~ a {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.listxrss span {
  display: block;
  font-size: 0.75em;
  color: #7c7c7c;
  margin-bottom: 1em;
}
#left .listxrss p,
#right .listxrss p {
  font-size: 0.85em;
}
.news-item .newslog-admin-actions {
  text-align: right;
}
.news-item .news-date {
  color: #7c7c7c;
}
.news-item .news-date:before {
  top: 2px;
  font-size: 16px;
  color: #61b3de;
}
.news-item .news-tags a {
  color: #888888;
}
.news-item .news-tags a:hover {
  color: #3c3c3c;
}
.news-item .news-tags a + a {
  margin-left: 0.5em;
}
.news-item .news-tags a:before {
  color: #888888;
  margin-right: 0.5em;
}
.search-results li {
  margin-bottom: 30px;
}
.search-results .page-teaser-image {
  overflow: hidden;
  float: left;
  margin-right: 2%;
  width: 150px;
}
.breadcrumbs {
  color: #555555;
}
.breadcrumbs a {
  color: #199bef;
}
.breadcrumbs a:hover {
  color: #0b6097;
}
@media only screen and (max-width: 800px) {
  .top-block {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
    height: 43.75px;
    line-height: 43.75px;
    color: #ffffff;
    background: #61b3de;
    -webkit-box-shadow: 0 0 7px #555555;
    -moz-box-shadow: 0 0 7px #555555;
    box-shadow: 0 0 7px #555555;
  }
  .top-block ~ header,
  .top-block ~ * header {
    margin-top: 54.6875px;
  }
  .bottom-block {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    height: 43.75px;
    line-height: 43.75px;
    color: #ffffff;
    background: #61b3de;
    -webkit-box-shadow: 0 0 7px #555555;
    -moz-box-shadow: 0 0 7px #555555;
    box-shadow: 0 0 7px #555555;
  }
  .bottom-block ~ header,
  .bottom-block ~ * header {
    margin-top: 54.6875px;
  }
  .mobile-overlay {
    position: fixed;
    top: 43.75px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }
  .mobile-overlay.open {
    display: block;
  }
  .mobile-menu {
    float: none;
    max-width: none;
    height: auto;
    text-align: left;
    margin: 0 !important;
    line-height: 43.75px;
    position: fixed;
    z-index: 99;
    top: 43.75px;
    bottom: 0;
    left: 0;
    overflow: auto;
    width: 300px;
    background: #61b3de;
    color: #ffffff;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .mobile-menu a:hover,
  .mobile-menu a.current {
    background: #4ca9da;
    color: #ffffff;
  }
  .mobile-menu > * ul {
    width: auto;
    position: static;
    display: none !important;
    background: #ffffff;
    color: #555555;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .mobile-menu > * ul a:hover,
  .mobile-menu > * ul a.current {
    background: #f2f2f2;
    color: #555555;
  }
  .mobile-menu > * ul.open {
    display: block !important;
  }
  .mobile-menu li {
    float: none;
    display: block;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .mobile-menu li li {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .mobile-menu.top,
  .mobile-menu.bottom {
    right: 0;
    width: auto;
    height: auto;
  }
  .mobile-menu.top {
    bottom: auto;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .mobile-menu.bottom {
    top: auto;
    bottom: 43.75px;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  .mobile-menu.right {
    right: 0;
    left: auto;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  .mobile-menu.open {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .mobile-menu.open.top,
  .mobile-menu.open.bottom {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .mobile-menu.open.right {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .sub-menu-btn {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#1a000000', EndColorStr='#1a000000')";
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#1a000000', EndColorStr='#1a000000');
    zoom: 1 !important;
  }
  .sub-menu-btn:hover,
  .sub-menu-btn.active {
    background: rgba(0, 0, 0, 0.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#33000000', EndColorStr='#33000000')";
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#33000000', EndColorStr='#33000000');
    zoom: 1 !important;
  }
  .dropdown-overlay {
    background: rgba(255, 255, 255, 0);
  }
  .dropdown-menu {
    background: #61b3de !important;
    color: #ffffff !important;
    position: fixed;
    z-index: 99;
    width: 300px;
    max-width: 90%;
    max-height: 70%;
    display: none;
    border: 2px solid #4ca9da;
    margin: 0 !important;
    overflow: auto;
    -webkit-box-shadow: 0 2px 10px #555555;
    -moz-box-shadow: 0 2px 10px #555555;
    box-shadow: 0 2px 10px #555555;
  }
  .dropdown-menu.open {
    display: block;
  }
  .dropdown-menu.center {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
  }
  .dropdown-menu.top {
    top: 46.75px;
    bottom: auto;
  }
  .dropdown-menu.bottom {
    bottom: 46.75px;
    top: auto;
  }
  .dropdown-menu.right {
    right: 5px;
    left: auto;
  }
  .dropdown-menu.left {
    left: 5px;
    right: auto;
  }
}
