<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
<title>{$page:title}</title>
<meta name="keywords" content="{$meta:keywords}">
<meta name="description" content="{$meta:description}">
<meta name="author" content="SeoToaster">
<!--<meta name="copyright" content="(c)"> -->
<meta http-equiv="Reply-to" content="support@seosamba.com">

<!-- Mobile Specific Metas -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="480">
<!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{$page:title}">

<!-- Favicons -->
<link rel="apple-touch-startup-image" href="images/startup.png">
<link rel="apple-touch-icon-precomposed" href="images/touch/57x57.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/touch/72x72.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/touch/114x114.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/touch/144x144.png">

<!-- Tile icon for Win8 -->
<meta name="application-name" content="{$page:title}"/>
<meta name="msapplication-tooltip" content="{$meta:description}"/>
<meta name="msapplication-TileColor" content="#3372DF">
<meta name="msapplication-TileImage" content="images/touch/144x144.png">
<meta name="msapplication-square70x70logo" content="images/touch/win8_70x70.png"/>
<meta name="msapplication-square150x150logo" content="images/touch/win8_150x150.png"/>
<meta name="msapplication-square310x310logo" content="images/touch/win8_310x310.png"/>
<meta name="msapplication-wide310x150logo" content="images/touch/win8_310x150.png"/>

<!-- Generic Icon -->
<link rel="icon" href="images/favicon.ico">
<!--[if IE]><link rel="shortcut icon" href="images/favicon.ico"><![endif]-->

<!-- CSS -->
{concatcss}
<link href="css/reset.css" rel="stylesheet" media="screen">
<link href="css/content.css" rel="stylesheet" media="screen">
<link href="css/nav.css" rel="stylesheet" media="screen">
<link href="css/style.css" rel="stylesheet" media="screen">
<!-- Shopping css -->
<link href="css/store.css" rel="stylesheet" media="screen">
<!-- Additional css -->
<link href="css/flexkit.css" rel="stylesheet" media="screen">
{/concatcss}

<!-- HTML5shiv and selectivizr.js IE support of HTML5 elements and CSS3 pseudo-classes, attribute selectors -->
<!--[if lt IE 9]><script src="js/system/ie-pack.min.js"></script><![endif]-->