<!-- Top bar for mobile, with button show/hide menu -->
<div class="top-block clearfix {$mobile:device:desktop=d-hide}">
    <label data-menu="#main-menu .main_menu" data-menu-position="left" class="menu-btn fl-left icon-list2 btn large">Menu</label>
</div>