<div class="news-item clearfix">
    {$news:actions}
    <time class="news-date icon-calendar2 small block mb10px" datetime="{$news:date:Y-m-d}">{$news:date: M d, Y}</time>
    <a class="news-image text-center grid_3 alpha" href="{$news:url}">
        <img src="{$news:preview}" alt="{$news:title}"/>
    </a>
    <a class="news-title large grid_9 omega" href="{$news:url}">{$news:title}</a>
    <p class="news-description grid_9 omega small mb10px">{$news:teaser}</p>
    <p class="news-tags small cl-both text-right">{$news:tags}</p>
</div>